# Скрытые каталоги и файлы
.*
# Исключение .gitignore
!.gitignore
!.dockerignore
# Виртуальное окружение Python
venv/
# Кэшированные файлы Python
__pycache__/
# Все файлы json
*.json
# Все логфайлы
*.log